h1{
	text-align: center;
}

#home_body{
	background-color: #eeeeee;
}
#centerform{
	text-align:center;
}

#inputForm{
	margin: 50px;
}

#hidden{
	display: none;
}
.carosel{
	width:640px;
	height:360px;
}
#stud_table{
	margin-left:50px;
	margin-right:50px;
}